#k{
  width:85%;
  height:370px;
   background:url(bus1.jpg);
  margin:auto;
 animation:slide 20s infinite;
    }

@keyframes slide{
 25%{
        background:url(bus2.jpg);
           }
    50%{
        background:url(bus3.jpg);
           }
75%{
        background:url(bus4.jpg);
           }
100%{
        background:url(bus2.jpg);
           }
}
body{
 background-color:white;}
h1{
   color:red;
   text-align:center;
}
p{
   color:black;
   font-size:25px;
   }